langchain==0.1.16
openai==1.23.2
tiktoken==0.6.0
langchain-openai==0.1.3
litellm[proxy]==1.35.18
boto3==1.34.88
annoy==1.17.3
unstructured==0.13.3
unstructured[csv]==0.13.3
presidio_analyzer==2.2.354
presidio_anonymizer==2.2.354
prisma==0.13.1
ipykernel==6.29.4
jupyter==1.0.0
langfuse==2.27.0
